<footer class="bg-gray-900 text-gray-400 py-4 w-full sm:px-6 lg:px-8 fixed bottom-0">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col justify-center sm:flex-row">
      <div class="mb-2 sm:mb-0 sm:mr-auto">
        <p>© 2023 Mi App de Citas Médicas</p>
      </div>
      <div>
        <a href="#" class="text-gray-400 hover:text-white mr-4">Términos y condiciones</a>
        <a href="#" class="text-gray-400 hover:text-white">Política de privacidad</a>
      </div>
    </div>
  </div>
</footer>
