<ng-container *ngFor="let doctor of doctors">
  <div class="border border-gray-300 p-4 rounded-lg" >
    <div class="flex items-center">
      <img src="assets/doctor1.png" alt="Foto del doctor" class="h-48 w-48 rounded-full" />
      <div class="ml-4">
        <h4 class="text-lg font-semibold">{{doctor.name}}</h4>
        <p class="text-sm">Dentista</p>
      </div>
    </div>
    <button routerLink="/doctor/1" class="bg-blue-500 text-white py-2 px-4 mt-4 rounded">Ver perfil</button>
</div>
</ng-container>

  